<div class="bs-example">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a href="#" class="navbar-brand">
          <img src="/examples/images/logo.svg" height="28" alt="CoolBrand">
      </a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
              <a style="font-size: large;" routerLink="/home" class="nav-item nav-link ">Home</a>
              <a style="font-size: large;" routerLink="/login" class="nav-item nav-link">Profile</a>
              <a style="font-size: large;" routerLink="/login" class="nav-item nav-link">Messages</a>
              <a  style="font-size: large;" routerLink="/login" class="nav-item nav-link disabled" tabindex="-1">Reports</a>
          </div>
          
          <div class="navbar-nav ml-auto">
              <a style="font-size: large;"  routerLink="/customer-register" class="nav-item nav-link active">SIGN-IN</a>
              <a href="#" class="nav-item nav-link"></a>
              <a style="font-size: large;"  routerLink="/login" class="nav-item nav-link ">LOGIN</a>
              <a href="#" class="nav-item nav-link"></a>
          </div>
      </div>
  </nav>
</div>
<div class="full-screen-container">
  <div class="login-container">
    <h3 class="login-title">Welcome</h3>

    <form [formGroup]="myReactiveForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <label>Email</label>
        <input type="email" formControlName="email" />
        <!-- <small
          class="text-danger"
          *ngIf="
            !myReactiveForm.get('email').valid &&
            myReactiveForm.get('email').touched
          "
          >Please Enter Valid Email</small
        > -->
      </div>
      <div class="input-group">
        <label>Password</label>
        <input type="password" formControlName="password" />
      </div>
      <div class="input-group">
        <label>Name</label>
        <input type="text" formControlName="name" />
      </div>
      <div class="input-group">
        <label>Phone Number</label>
        <input type="number" formControlName="phoneNumber" />
      </div>
      <div class="input-group">
        <label>Date Of Birth</label>
        <input type="date" formControlName="dob" />
      </div>
      <div class="input-group">
        <label>Address</label>
        <input type="text" formControlName="Address" />
      </div>
     
      <div class="input-group">
        <label>Security Question (Enter your Favorite Sport)</label>
        <input type="text" formControlName="securityQuestion" />
      </div>
      <button
        type="submit"
        [disabled]="!myReactiveForm.valid"
        class="login-button"
      >
        Sign In
      </button>
    </form>
  </div>
</div>
