<div class="full-screen-container">
  <div class="login-container">
    <h3 class="login-title">Welcome</h3>

    <form [formGroup]="myReactiveForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <label>Email</label>
        <input type="email" formControlName="email" />
        <!-- <small
          class="text-danger"
          *ngIf="
            !myReactiveForm.get('email').valid &&
            myReactiveForm.get('email').touched
          "
          >Please Enter Valid Email</small
        > -->
      </div>
      <div class="input-group">
        <label>Password</label>
        <input type="password" formControlName="password" />
      </div>
      <div class="input-group">
        <label>Name</label>
        <input type="text" formControlName="name" />
      </div>
      <div class="input-group">
        <label>Phone Number</label>
        <input type="number" formControlName="phone number" />
      </div>
      <div class="input-group">
        <label>Date Of Birth</label>
        <input type="date" formControlName="dob" />
      </div>
      <div class="input-group">
        <label for="">Gender</label>
        <span>
          <input type="radio" id="male" name="gender" value="mail" />
          <label for="male">Male</label>
          <input type="radio" id="female" name="gender" value="female" />
          <label for="female">Female</label>
        </span>
      </div>
      <div class="input-group">
        <label>Security Question (Enter your Favorite Sport)</label>
        <input type="text" formControlName="security question" />
      </div>
      <button
        type="submit"
        [disabled]="!myReactiveForm.valid"
        class="login-button"
      >
        Sign In
      </button>
    </form>
  </div>
</div>
