img{
  max-width:180px;
}
.image-preview{
  width: 300px;
  min-height: 100px;
  border: 2px solid #dddddd;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color:cornsilk;

}
.image-preview__image {
  
  width : 100%;
}
.main{
  background-color: rgb(186, 202, 214);
  padding-bottom: 20%;

}